.heading1 {
	color: #5863F8;
	font-size: 14px;
	margin-top: 82px;
	text-transform: uppercase;
}
.heading2 {
	margin-bottom: 54px;
	width: 422px;
	font-size: 42px;
	margin-top: 20px;
}
.firstdiv-wraper {
	float: left;
	background-color: #F8F8F8;
	width: 536px;
}
.firstimage {
	float: left;
	margin-right: 16px;
}
.texts-wraper {
	float: left;
}
.firstparagraph {
	float: left;
	color: #B1B1B1;
	font-size: 14px;
	width: 260px;
}
.clear {
	clear: both;
}
.seconddiv-wraper {
	float: left;
	width: 536px;
	background-color: #F8F8F8;
}
.secondparagraph {
	float: left;
	color: #B1B1B1;
	font-size: 14px;
	width: 260px;
	margin-left: 16px;
}
.texts2-wraper {
	float: left;
}
.image2 {
	float: left;
	margin-right: 16px;
}
.thirddiv-wraper {
	float: left;
	width: 536px;
	background-color: #F8F8F8;
}
.fourthddiv-wraper {
	float: left;
	width: 536px;
	background-color: #F8F8F8;
}
.entirediv-wraper {
	float: left;
	margin-bottom: 16px;
}
.heading6 {
	margin-top: 11px;
	margin-bottom: 11px;
	font-size: 18px;
}
.firstimage {
	float: left;
}
.entirediv2-wraper {
	margin-top: 16px;
}
.fifthdiv-wraper {
	float: left;
	width: 352px;
	/*margin-right: 16px;*/
}
.texts {
	background-color: #F8F8F8;
	text-align: center;
	width: 352px;
	/*display: inline-block;*/
}
.hotelimage {
	float: left;
	width: 352px;
}
.paragraph {
	color: #B1B1B1;
	font-size: 14px;
	width: 260px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: medium;
	display: inline-block;
}
.centerblock-wraper {
	float: left;
	width: 352px;
	margin-right: 16px;
	margin-left: 16px;
}
.texts2 {
	text-align: center;
	width: 352px;
	background-color: #F8F8F8;
}
.centerimage {
	float: left;
	width: 352px;
}
/*.container1-wraper {
	float: left;
}*/
.rightdiv-wraper {
	float: left;
}
.texts3 {
	text-align: center;
	background-color: #F8F8F8;
}
.cakeimage {
	float: left;
}
.container1-wraper {
	float: left;
	margin-bottom: 39px;
}
.heading3 {
	font-weight: bold;
	font-size: 14px;
	color: #5863F8;
	margin-top: 37px;
	text-transform: uppercase;
}
.heading4 {
	font-size: 18px;
	margin-top: 11px;
	margin-bottom: 11px;
}
.heading7 {
	color: #5863F8;
	font-size: 14px;
	margin-top: 90px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.heading8 {
	font-size: 42px;
	margin-bottom: 54px;
	width: 404px;
}
.title1 {
	color: #5863F8;
	font-size: 14px;
	padding-top: 23px;
	/*font-weight: bold;*/
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 16px;
	display: inline-block;
	text-transform: uppercase;
}
.title2 {
	font-size: 18px;
	margin-bottom: 11px;
}
.title3 {
	padding-top: 23px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #5863F8;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
}
.title4 {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	/*display: inline-block;*/
	font-weight: 600;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 11px;
}
.title5 {
	color: #5863F8;
	font-size: 14px;
	padding-top: 23px;
	/*font-weight: bold;*/
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 16px;
	display: inline-block;
	text-transform: uppercase;
}
.title6 {
	font-size: 18px;
	margin-bottom: 11px;
}